.formlogin {
    width: 450px;
    height: 400px;
    text-align: left;
    padding: 46px;
    border: 5px solid white;
    background-color: white;
    border-radius: 10px;
}

.Container-FormLogin {
    padding-top: 36px;
  }
  
  .Text-SubTittle {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
  }

  .Button-Login {
    width: 100%;
  }