.SectionContent1 {
    background: linear-gradient(243.15deg, #C7E2FF 33.41%, #FCFEFD 96.51%);
    padding: unset !important;
    height: 100%;
}

.LogoMenu {
    position: relative;
}
.GridContainer{
    width: 100%;
    height: 100%;
    padding-left: 6rem;
    text-align: left;
}

.SectionContent2 {
    background: #1F1D2B;
    width: 100%;
}
.BoxJudul {
    padding: 60px 40px 0px 40px;
}

.SectionContent3 {
    background: #ffffff;
    width: 100%;
}


.Judul {
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 90px;
    text-align: center;
    color: #E6EDF5;
}
