.Container {
  background-color: #F3F3F3;
  height: 100%;
  display: flex;
  padding: 40px;
}

.GridKanan {
  padding-top: 100px !important;
  padding-left: 32px !important;
}

.GridKiri {
  padding-top:100px !important;
  padding-right: 32px !important;
}

.VectorLogin {
  width: 700px;
  height: 500px;
}
