.Content-Mytl{
    background-color: #E0DFDB;
}
 .LogoMenu {
    position: relative;
 }

.Tittle {
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 90px;
    color: #252423;;
    padding-top: 100px;
    letter-spacing: 0.245em;
    margin-bottom: 2rem;
}
