.Drawer {
    position: absolute;
    top: 0px;
    width: 20%;
    /* background-color: transparent; */

}
.Logo {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    padding-left: 1rem;
    padding-top: 1rem;
    color: #232E4B;;
}