.Header {
    position: relative;    
    left: 40%;
    top:0;
    width: 80%;

}

.Menu {
    padding-top: 32px;
    /* display: flex;
    position: absolute; */
    right: 5rem;
}

.Home {
    padding-right: 60px !important;
    font-family: Poppins;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
}

.My-Timeline {
    font-family: Poppins;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
}
.Home:hover {
    color: #3e8e41;
}

.My-Timeline:hover {
    color: #3e8e41;
}