.btn-submit {
    background-color:blue;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
}

.TableContainer {
    width: 100% !important;
    margin: 1rem auto;
}

.Header_No {
    width: 100px !important;
} 

.MuiTableCell-root {
    padding: 6px !important;
}
