.Card-1 {
    width: 310px;
    height: 330px;  
    background-color:#ffffff;
    border:#ffffff;
    padding: 20px;
    text-align: center;
    background: #E6EDF5;
    box-shadow: 0px 4px 16px rgba(255, 255, 255, 0.3);
    border-radius: 20px;
}