.Text {
    font-style: normal;
    font-weight: bold;
    line-height: 60px;
    font-size: 80px;
    color: #161149;
    padding-bottom: 16px;
}

.Text-Subtittle {
    font-style: normal;
    font-weight: lighter;
    font-size: 14px;
    line-height: 30px;
    color: #161149;
}